@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --text-color: #fff;
  --color: #fba820;
  --bg-color: #1c1c1d;
  --first: #fff;
  --second: #000000;
  --mob-color: #363636;
}

body.dark-mode {
  --text-color: #222;
  --bg-color: #f2f2f2;
  --first: #222;
  --second: #fff;
  --mob-color: #eae6e6;
}

.button-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 2px solid var(--color);
  border-radius: 7px;
  color: var(--color);
  background: transparent;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0; /* Oculto por defecto */
  visibility: hidden;
}
.button-to-top:hover {
  background: var(--color);
  color: #fff;
}
.button-to-top.visible {
  opacity: 1;
  visibility: visible;
}

.container-header {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1280px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.inner-content {
  width: 100%;
  padding: 0 20px;
}

.grid {
  display: flex;
  justify-content: space-between;
}

header {
  background: var(--bg-color);
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .logo {
  z-index: 1;
}
header nav .list-darkmode-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
header nav .list-darkmode-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  font-size: 18px;
  list-style: none;
  z-index: 1;
}
header nav .list-darkmode-menu ul li {
  position: relative;
}
header nav .list-darkmode-menu ul li a {
  position: relative;
  text-decoration: none;
  color: var(--first);
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s linear;
}
header nav .list-darkmode-menu ul li a:hover {
  color: var(--color);
}
header nav .list-darkmode-menu ul li a:hover::after {
  width: 0%; /* Expande completamente el subrayado */
}
header nav .list-darkmode-menu ul li a:hover::before {
  width: 100%; /* Expande completamente el subrayado */
}
header nav .list-darkmode-menu ul li a::before {
  content: "";
  position: absolute;
  bottom: -5px; /* Ajustado para alinear con el texto */
  left: 0;
  width: 0;
  height: 2px;
  background: var(--color);
  transition: width 0.3s ease; /* La animación ocurre al cambiar el ancho */
}
header nav .mode {
  color: var(--text-color);
  font-size: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header nav .mode .fa-moon,
header nav .mode .fa-sun {
  position: absolute;
  animation: animate 0.5s;
}
header nav .mode .fa-sun {
  display: none;
}
header nav .mode input:checked ~ .fa-moon {
  display: none;
}
header nav .mode input:checked ~ .fa-sun {
  display: block;
}
header nav .mode input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
@keyframes animate {
  0% {
    transform: rotate(-360deg) scale(0);
    opacity: 0;
  }
  75% {
    transform: rotate(25deg);
  }
}
header nav .hamburger {
  position: relative;
  width: 30px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background: none;
  scale: 0.7;
  display: none;
}
header nav .hamburger .bar, header nav .hamburger::after, header nav .hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 7px;
  background: var(--first);
  margin: 4px 0;
  transition: 0.4s;
}
header nav .hamburger.active::before {
  transform: rotate(-45deg) translate(-8px, 7px);
}
header nav .hamburger.active::after {
  transform: rotate(45deg) translate(-8px, -7px);
}
header nav .hamburger.active .bar {
  opacity: 0;
}

.home {
  background: var(--bg-color);
  top: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  padding: 150px 0;
}
.home .container .home-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .container .home-info .left {
  flex: 1;
}
.home .container .home-info .left h3 {
  font-size: 2.5em;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: var(--first);
  border-radius: 25px;
}
.home .container .home-info .left h1 {
  font-size: 4.5em;
  color: var(--first);
  margin: 10px 0;
}
.home .container .home-info .left h4 {
  color: var(--first);
  font-size: 2.2em;
  font-weight: bold;
  min-width: 280px;
  margin-bottom: 20px;
}
.home .container .home-info .left h4 span {
  color: var(--color);
}
.home .container .home-info .left p {
  width: 90%;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: var(--first);
  -webkit-mask-box-image: 50px;
          mask-border: 50px;
  margin-bottom: 15px;
  text-align: justify;
}
.home .container .home-info .left .social {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 25px 0;
}
.home .container .home-info .left .social a {
  text-decoration: none;
  background: transparent;
  color: var(--color);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
  border: 2px solid var(--color);
}
.home .container .home-info .left .social a i {
  font-size: 20px;
}
.home .container .home-info .left .social a:hover {
  color: #fff;
  background: var(--color);
  transform: translateY(-7px);
}
.home .container .home-info .left .btn {
  display: flex;
  justify-content: left;
  gap: 35px;
  margin: 75px 0;
}
.home .container .home-info .left .btn .btn-left {
  display: flex;
  align-items: left;
}
.home .container .home-info .left .btn .btn-left a {
  text-decoration: none;
  text-transform: uppercase;
}
.home .container .home-info .left .btn .btn-left .btn-accent {
  font-size: 15px;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 25px;
  color: var(--color);
  background: transparent;
  border: 2px solid var(--color);
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
}
.home .container .home-info .left .btn .btn-left .btn-accent:hover {
  color: #fff;
  background: var(--color);
  transform: translateY(-7px);
}
.home .container .right {
  flex: 1;
}
.home .container .right .profile {
  text-align: right;
}
.home .container .right .profile img {
  width: 450px;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 25% 5% 25% 5%;
  border: 1px solid var(--color);
  box-shadow: 0 0 40px var(--color);
  cursor: pointer;
  transition: 0.3s ease;
}
.home .container .right .profile img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 80px var(--color);
}

@media screen and (max-width: 1280px) {
  header nav {
    padding: 0 50px;
  }
  .home {
    padding: 250px 50px;
  }
  .home .home-info .left h1 {
    font-size: 4em;
  }
  .home .home-info .right .profile img {
    width: 400px;
    height: 400px;
  }
}
@media screen and (max-width: 1024px) {
  header {
    background: var(--mob-color);
    position: sticky;
    top: 0;
    z-index: 9;
  }
  header nav .list-darkmode-menu ul {
    position: fixed;
    top: 89px;
    left: -100%;
    max-width: 60%;
    width: 100%;
    height: 100vh;
    background: var(--mob-color);
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 30px 50px;
    gap: 30px;
    transition: 0.3s ease;
  }
  header nav .list-darkmode-menu ul li a {
    font-size: 22px;
  }
  header nav .list-darkmode-menu ul.active {
    left: 0%;
  }
  header nav .list-darkmode-menu .hamburger {
    font-weight: 100;
    display: block;
  }
  .home {
    position: relative;
    padding: 30px 50px;
    height: 100%;
  }
  .home .home-info {
    flex-direction: column-reverse;
  }
  .home .home-info .left {
    padding-top: 50px;
  }
  .home .home-info .left p {
    width: 100%;
  }
  .home .home-info .left .social {
    display: none;
  }
  .home .home-info .right .profile {
    margin-top: 25px;
  }
  .home .home-info .right .profile img {
    width: 375px;
    height: 375px;
    box-shadow: 0 0 30px var(--color);
  }
  .home .home-info .right .profile img:hover {
    box-shadow: 0 0 60px var(--color);
  }
}
@media screen and (max-width: 767px) {
  header nav {
    padding: 0 30px;
  }
  header nav .list-darkmode-menu ul {
    padding: 30px 0 0 30px;
  }
  header nav .list-darkmode-menu ul li a {
    font-size: 20px;
  }
  .home {
    padding: 30px;
  }
  .home .home-info .left h1 {
    font-size: 3.6em;
  }
  .home .home-info .left h4 {
    font-size: 1.8em;
  }
  .home .home-info .left p {
    font-size: 14px;
  }
  .home .home-info .right .profile img {
    width: 350px;
    height: 350px;
  }
}
@media screen and (max-width: 480px) {
  header nav .logo a {
    font-size: 28px;
  }
  .home .home-info .left h3 {
    font-size: 2em;
  }
  .home .home-info .left h1 {
    font-size: 2.8em;
  }
  .home .home-info .left h4 {
    font-size: 1.6em;
  }
  .home .home-info .left p {
    font-size: 14px;
  }
  .home .home-info .right .profile img {
    width: 280px;
    height: 280px;
  }
}
#about-me {
  background-color: var(--first);
}
#about-me .container .row .inner-content .section-header .section-title {
  margin: 55px 0;
  font-size: 4em;
  line-height: 1;
  font-weight: 500;
  color: var(--bg-color);
}
#about-me .container .row .inner-content .person-information {
  display: flex;
}
#about-me .container .row .inner-content .person-information .description {
  width: 100%;
  margin-right: 0px;
}
#about-me .container .row .inner-content .person-information .description p {
  font-size: 1.5em;
  line-height: 1.5;
  color: var(--bg-color);
}
#about-me .container .row .inner-content .person-information .description .btn {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin: 75px 0;
}
#about-me .container .row .inner-content .person-information .description .btn .btn-wrap {
  display: flex;
  align-items: center;
}
#about-me .container .row .inner-content .person-information .description .btn .btn-wrap a {
  text-decoration: none;
  text-transform: uppercase;
}
#about-me .container .row .inner-content .person-information .description .btn .btn-wrap .btn-accent {
  font-size: 15px;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 25px;
  color: var(--color);
  background: transparent;
  border: 2px solid var(--color);
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
}
#about-me .container .row .inner-content .person-information .description .btn .btn-wrap .btn-accent:hover {
  color: #fff;
  background: var(--color);
  transform: translateY(-7px);
}

#skills {
  background-color: var(--bg-color);
}
#skills .container .row .inner-content .section-skills .section-title {
  display: flex;
  justify-content: center;
  margin: 55px 0;
  font-size: 4em;
  line-height: 1;
  font-weight: 500;
  color: var(--first);
}
#skills .container .row .inner-content .section-skills .skills-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
#skills .container .row .inner-content .section-skills .skills-row .skills-column {
  flex: 1 1 40rem;
}
#skills .container .row .inner-content .section-skills .skills-row .skills-column .title {
  font-size: 2.5rem;
  margin: 0 0 24px;
  color: var(--color);
}
#skills .container .row .inner-content .section-skills .skills-row .skills-column .skills-box .skills-content .progress {
  padding: 1rem 0;
}
#skills .container .row .inner-content .section-skills .skills-row .skills-column .skills-box .skills-content .progress h3 {
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
}
#skills .container .row .inner-content .section-skills .skills-row .skills-column .skills-box .skills-content .progress h3 span {
  color: #fba820;
}
#skills .container .row .inner-content .section-skills .skills-row .skills-column .skills-box .skills-content .progress .bar {
  height: 2.5rem;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--color);
  padding: 0.5rem;
  margin: 1rem 0;
}
#skills .container .row .inner-content .section-skills .skills-row .skills-column .skills-box .skills-content .progress .bar span {
  display: block;
  height: 100%;
  border-radius: 0.3rem;
  background: var(--color);
}
#skills .container .row .inner-content .section-skills .skills-row .skills-column .skills-box .skills-content:nth-child(1) .progress:nth-child(1) .bar span {
  width: 90%;
}
#skills .container .row .inner-content .section-skills .skills-row .skills-column .skills-box .skills-content:nth-child(1) .progress:nth-child(2) .bar span {
  width: 90%;
}
#skills .container .row .inner-content .section-skills .skills-row .skills-column .skills-box .skills-content:nth-child(1) .progress:nth-child(3) .bar span {
  width: 75%;
}
#skills .container .row .inner-content .section-skills .skills-row .skills-column .skills-box .skills-content:nth-child(1) .progress:nth-child(4) .bar span {
  width: 70%;
}
#skills .container .row .inner-content .section-skills .skills-row .skills-column-2 {
  flex: 1 1 40rem;
}
#skills .container .row .inner-content .section-skills .skills-row .skills-column-2 .title {
  font-size: 2.5rem;
  margin: 0 0 24px;
  color: var(--color);
}
#skills .container .row .inner-content .section-skills .skills-row .skills-column-2 .skills-box .skills-content .progress {
  padding: 1rem 0;
}
#skills .container .row .inner-content .section-skills .skills-row .skills-column-2 .skills-box .skills-content .progress h3 {
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
}
#skills .container .row .inner-content .section-skills .skills-row .skills-column-2 .skills-box .skills-content .progress h3 span {
  color: #fba820;
}
#skills .container .row .inner-content .section-skills .skills-row .skills-column-2 .skills-box .skills-content .progress .bar {
  height: 2.5rem;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--color);
  padding: 0.5rem;
  margin: 1rem 0;
}
#skills .container .row .inner-content .section-skills .skills-row .skills-column-2 .skills-box .skills-content .progress .bar span {
  display: block;
  height: 100%;
  border-radius: 0.3rem;
  background: var(--color);
}
#skills .container .row .inner-content .section-skills .skills-row .skills-column-2 .skills-box .skills-content:nth-child(1) .progress:nth-child(1) .bar span {
  width: 85%;
}
#skills .container .row .inner-content .section-skills .skills-row .skills-column-2 .skills-box .skills-content:nth-child(1) .progress:nth-child(2) .bar span {
  width: 90%;
}
#skills .container .row .inner-content .section-skills .skills-row .skills-column-2 .skills-box .skills-content:nth-child(1) .progress:nth-child(3) .bar span {
  width: 75%;
}
#skills .container .row .inner-content .section-skills .skills-row .skills-column-2 .skills-box .skills-content:nth-child(1) .progress:nth-child(4) .bar span {
  width: 80%;
}
#skills .container .row .inner-content .section-skills .logos {
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
  margin-top: 60px;
}
#skills .container .row .inner-content .section-skills .logos .logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}
#skills .container .row .inner-content .section-skills .logos .logos-slide img {
  height: 80px;
  margin: 0 40px;
  filter: grayscale(100%);
}
#skills .container .row .inner-content .section-skills .logos .logos-slide img:hover {
  filter: grayscale(0%);
  cursor: pointer;
  transform: translateY(-10px);
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
#skills .container .row .inner-content .section-skills:before, #skills .container .row .inner-content .section-skills:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}
#skills .container .row .inner-content .section-skills:hover .logos-slide {
  animation-play-state: paused;
}

#project {
  background-color: var(--first);
  padding: 60px 0;
}
#project .container .section-header {
  text-align: center;
  margin-bottom: 30px;
}
#project .container .section-header .section-title {
  font-size: 4em;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--bg-color);
}
#project .container .section-header .section-subtitle {
  font-size: 1.2rem;
  color: var(--bg-color);
}
#project .container .project-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  justify-items: center;
  max-width: 900px;
  margin: 0 auto;
}
#project .container .project-grid .project-card {
  background-color: var(--bg-color);
  border-radius: 12px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  height: 100%;
  position: relative;
}
#project .container .project-grid .project-card:hover {
  transform: translateY(-5px) scale(1.02);
  border: 1px solid var(--color);
  box-shadow: 0 0 10px var(--color);
}
#project .container .project-grid .project-card .project-image {
  width: 100%;
  max-width: 450px;
  height: auto;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 8px;
  margin-right: 20px;
  transition: object-position 3s ease, transform 0.3s ease;
  transition: object-position 3s ease, transform 0.3s ease, -o-object-position 3s ease;
}
#project .container .project-grid .project-card .project-image:hover {
  -o-object-position: bottom;
     object-position: bottom;
  transform: scale(1.05);
}
#project .container .project-grid .project-card .project-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
  margin-bottom: 15px;
}
#project .container .project-grid .project-card .project-info .project-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 5px;
  font-style: italic;
  color: var(--first);
}
#project .container .project-grid .project-card .project-info .project-title-description {
  font-size: 1rem;
  font-weight: 600;
  color: var(--first);
  margin-bottom: 10px;
}
#project .container .project-grid .project-card .project-info .project-description {
  font-size: 0.9rem;
  color: var(--first);
  margin-bottom: 10px;
}
#project .container .project-grid .project-card .project-info .project-subtitle {
  font-size: 1.2rem;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 5px;
  color: var(--first);
}
#project .container .project-grid .project-card .project-info .project-skills {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style-type: none;
}
#project .container .project-grid .project-card .project-info .project-skills .skill {
  padding: 0;
}
#project .container .project-grid .project-card .project-info .project-skills .skill:has(> img) {
  border: 0;
  background-color: transparent;
}
#project .container .project-grid .project-card .project-info .project-skills .skill > img {
  max-height: 2rem;
  max-width: 2.5rem;
}
#project .container .project-grid .project-card .project-info .btn-wrap {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: auto;
  position: absolute;
  bottom: 20px;
}
#project .container .project-grid .project-card .project-info .btn-wrap a {
  text-decoration: none;
  text-transform: uppercase;
}
#project .container .project-grid .project-card .project-info .btn-wrap .btn-accent {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 20px;
  color: var(--color);
  background: transparent;
  border: 2px solid var(--color);
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
  height: 50%;
}
#project .container .project-grid .project-card .project-info .btn-wrap .btn-accent:hover {
  color: #fff;
  background: var(--color);
  transform: translateY(-3px);
}

@media screen and (max-width: 1024px) {
  #project .container .project-grid {
    grid-template-columns: 1fr;
  }
  #project .container .project-grid .project-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #project .container .project-grid .project-card .project-image {
    margin-right: 0;
    margin-bottom: 15px;
    max-width: 100%;
  }
  #project .container .project-grid .project-card .project-info {
    align-items: center;
    padding-bottom: 20px;
  }
  #project .container .project-grid .project-card .project-info .project-skills {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 12px;
  }
  #project .container .project-grid .project-card .project-info .btn-wrap {
    flex-direction: row;
  }
}
@media screen and (max-width: 767px) {
  #project .container .section-header .section-title {
    font-size: 2.5em;
  }
  #project .container .section-header .section-subtitle {
    font-size: 1rem;
  }
  #project .container .project-grid {
    gap: 20px;
  }
  #project .container .project-grid .project-card {
    padding: 15px;
  }
  #project .container .project-grid .project-card .project-title {
    font-size: 1rem;
  }
  #project .container .project-grid .project-card .project-title-description,
  #project .container .project-grid .project-card .project-subtitle {
    font-size: 0.9rem;
  }
  #project .container .project-grid .project-card .project-description {
    font-size: 0.85rem;
  }
  #project .container .project-grid .project-card .btn-wrap {
    gap: 10px;
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  #project {
    padding: 40px 0;
  }
  #project .container .section-header .section-title {
    font-size: 2em;
  }
  #project .container .project-grid .project-card .project-info .project-skills {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
  #project .container .project-grid .project-card .project-info .project-skills .skill > img {
    max-height: 1.8rem;
    max-width: 2.2rem;
    margin-bottom: 10px;
  }
}
#contact {
  background-color: var(--bg-color);
  padding: 100px 0;
  text-align: center;
  z-index: -1;
}
#contact .container .row .inner-content h2 {
  font-size: 4.5em;
  color: var(--first);
  margin: 0 0 25px;
}
#contact .container .row .inner-content p {
  font-size: 1.2em;
  color: var(--first);
  width: 40%;
  margin: 0 auto 60px;
}
#contact .container .row .inner-content .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  margin: 0;
}
#contact .container .row .inner-content .btn a {
  text-decoration: none;
  text-transform: uppercase;
}
#contact .container .row .inner-content .btn .btn-accent {
  font-size: 15px;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 25px;
  color: var(--color);
  background: transparent;
  border: 2px solid var(--color);
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
}
#contact .container .row .inner-content .btn .btn-accent:hover {
  background: var(--color);
  transform: translateY(-7px);
  color: #fff;
}

@media screen and (max-width: 1024px) {
  #contact .container .row .inner-content h2 {
    font-size: 3.5em;
  }
  #contact .container .row .inner-content p {
    width: 60%;
  }
  #contact .container .row .inner-content .btn {
    gap: 20px;
  }
}
@media screen and (max-width: 767px) {
  #contact {
    padding: 80px 0;
  }
  #contact .container .row .inner-content h2 {
    font-size: 2.5em;
  }
  #contact .container .row .inner-content p {
    width: 80%;
    font-size: 1.1em;
    margin-bottom: 30px;
  }
  #contact .container .row .inner-content .btn {
    gap: 15px;
  }
}
@media screen and (max-width: 480px) {
  #contact {
    padding: 60px 0;
  }
  #contact .container .row .inner-content h2 {
    font-size: 2.2em;
  }
  #contact .container .row .inner-content p {
    width: 90%;
    font-size: 1em;
    margin-bottom: 20px;
  }
  #contact .container .row .inner-content .btn {
    gap: 10px;
    flex-direction: column;
  }
}
#footer-bottom {
  background-color: var(--first);
  padding: 30px 0;
}
#footer-bottom .copyright p {
  color: var(--bg-color);
}
#footer-bottom .social-footer ul {
  display: flex;
  margin-top: 0;
  margin-left: 0;
  padding: 0;
  list-style: none;
}
#footer-bottom .social-footer ul li {
  margin-right: 30px;
  outline: 0;
}
#footer-bottom .social-footer ul li a {
  text-decoration: none;
  background: transparent;
  color: var(--bg-color);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
  border: 1px solid var(--bg-color);
}
#footer-bottom .social-footer ul li a i {
  font-size: 15px;
}
#footer-bottom .social-footer ul li a:hover {
  color: #fff;
  background: var(--color);
  transform: translateY(-7px);
  border: 1px solid var(--color);
}/*# sourceMappingURL=style.css.map */